.cuerpo {
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.principal {
    width: 75%;
    height: 250px;
}
.barlat {
    width: 25%;
}